.warpper {
  position: absolute;
  right: 0;

  width: 692px;
  max-width: 692px;
  height: 100%;
  padding: 24px 0;
  margin: 0 16px;
  border: 1px solid #eee;
}
.float-btn-group {
  position: fixed;
  right: 24px;
  bottom: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  transform: translateY(40px);

  margin-bottom: 8px;
  z-index: 8;
}
// The Uptop button effects
.back-top-btn {
  transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
}
.float-btn-group.show-uptop-btn {
  transition: showUpTopBtn cubic-bezier(0.65, 0, 0.35, 1);
  animation: showUpTopBtn 0.3s forwards;
  animation-delay: 0.2s;
}
.float-btn-group.hide-uptop-btn {
  transition: hideUpTopBtn cubic-bezier(1, -0.22, 0.04, 1.44);
  animation: hideUpTopBtn 0.5s forwards;
}

@keyframes showUpTopBtn {
  100% {
    transform: translateY(0);
  }
}
@keyframes hideUpTopBtn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

// The Download button effects
.download-btn {
  margin-bottom: 12px;
  z-index: 2;

  transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
  transform-origin: right bottom;
  transform: scale(1);

  &:active {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.download-btn.zoom-out {
  animation: zoomOut 0.4s forwards;
}
.download-btn.zoom-in {
  animation: zoomIn 0.4s forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
