.warpper {
  position: absolute;
  right: 0;

  width: 692px;
  max-width: 692px;
  height: 100%;
  padding: 24px 0;
  margin: 0 16px;
  border: 1px solid #eee;
}
.float-btn-group {
  position: fixed;
  right: 24px;
  bottom: 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  transform: translateY(40px);
  // transition: all cubic-bezier(0.65, 0, 0.35, 1);
  // -webkit-transition: all cubic-bezier(0.65, 0, 0.35, 1);

  margin-bottom: 8px;
  z-index: 8;
}
.float-btn-group.show-uptop-btn {
  transition: showUpTopBtn cubic-bezier(0.65, 0, 0.35, 1);
  animation: showUpTopBtn 0.3s forwards;
  animation-delay: 0.2s;
  // ani
}
.float-btn-group.hide-uptop-btn {
  transition: hideUpTopBtn cubic-bezier(1, -0.22, 0.04, 1.44);
  animation: hideUpTopBtn 0.5s forwards;
}

@keyframes showUpTopBtn {
  100% {
    transform: translateY(0);
  }
}
@keyframes hideUpTopBtn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

.download-btn {
  margin-bottom: 12px;
  transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
}
.up-to-top-btn {
  transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
}
