.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  background: rgb(255, 255, 255);
  max-height: 443px;
  border-radius: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 24px 16px;
  height: 72px;

  .icon__back {
    width: 20px;
    height: 20px;
    transform: translateY(2px);
    margin-right: 8px;
    cursor: pointer;
  }

  .title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    flex: 1 1 0%;
    filter: blur(0.4px);
  }
  .icon__close {
    height: 21px;
    width: 21px;
    font-size: 21px;
    transform: translateX(-6px);
    cursor: pointer;
  }
}
.container {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  height: 50vh;
  overflow: hidden auto;
  padding: 16px 16px 0px;

  .note {
    padding-bottom: 8px;
    padding-left: 8px;
    color: rgba(22, 24, 35, 0.75);
    height: 22px;
    line-height: 22px;
    filter: blur(0.3px);
  }

  // custom scrollbar
  &::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.05);
  }
  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}
.options {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: relative;

  // margin: 0 -8px;
  padding: 8px;
  box-sizing: border-box;
  min-height: 54px;
  word-break: break-all;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: rgb(241, 241, 241);
    z-index: 100;
  }

  .option--name {
    color: rgb(22, 24, 35, 0.75);
    line-height: 22px;
    font-size: 16px;
    user-select: none;
  }
  .icon__next {
    opacity: 0.5;
  }
}
.label {
  padding: 8px;
  color: rgb(22, 24, 35);
  font-size: 18px;
  line-height: 24px;
}
.discriptions {
  .text {
    padding: 4px 4px 10px 8px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
  }
  .text__list {
    margin: 0px;
    padding-inline-start: 26px;
    padding-bottom: 84px;
  }
  .text__item {
    padding: 6px 6px 6px 0px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
  }
  .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 84px;
    width: 100%;
    border-top: 0.5px solid rgba(22, 24, 35, 0.2);
    background-color: rgb(255, 255, 255);

    .submit--btn {
      position: absolute;
      cursor: pointer;
      top: 24px;
      right: 24px;
    }
  }
}
