// base = primary
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  min-height: 36px;
  padding: 6px 8px;
  border-radius: 4px;
  background: white;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  //trường hợp 2 nút liên tiếp
  + .wrapper {
    margin-left: 16px;
  }
  // Trạng thái
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
// button type
.primary {
  //background red
  color: white;
  background-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}
.outline {
  //border red
  font-weight: 600;
  color: rgba(254, 44, 85, 1);
  border: 1px solid currentColor;

  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.text {
  //no color and no background color
  padding: 0 16px;
  border: 1px solid rgba(22, 24, 35, 0.12);

  &:hover {
    background-color: var(--hover-background-color);
  }
}
.router {
  // Download
  font-size: 1.4rem;
  color: rgba(22, 24, 35, 0.75);
  padding: 0 8px;
  min-width: 90px;
  height: 32px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 52px;

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(255, 255, 255, 1);
  }
}
.iconOnly {
  min-width: 32px;
  min-height: 32px;
  font-size: 16px;
  border-radius: 100%;
}

// button sizes
.small {
  width: 88px;
  height: 28px !important;
  padding: 0 10px;
}
.medium {
  min-height: 32px !important;
  padding: 0 8px;
  line-height: 30px;
}
.large {
  min-width: 140px !important;
  min-height: 48px !important;
  padding: 6px 8px;
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
