.wrapper {
  height: 60px;
  padding: 9px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}
.infor {
  flex: 1;
}
.nick-name {
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 600;
}
.check {
  margin-left: 4px;
  color: #20d5ec;
}
.full-name {
  font-size: 1.4rem;
  line-height: 20px;
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
}
