.wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  // padding-right: 6px;
  width: 357px;
  border: 1px solid #eee;
  z-index: 8;
}
.container {
  width: calc(100% - 9px);
  height: 100%;
  padding: 20px 2px 26px 8px;
}

// Scroll bar
.thumb-vertical {
  width: 6px !important;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 44px;
  opacity: 0.8;
  filter: blur(0.8px);
  -webkit-filter: blur(0.8px);
}
.track-vertical {
  width: 6px !important;
  border-radius: 44px;
  height: 100%;
  right: 1px;
}
