// backdrop
.backdrop {
  position: fixed;
  inset: 0;

  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0.5;

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

//show backdrop -->> show/hide remember keep display un-none, handle display: none by js
.backdrop.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: showBackdrop 0.3s forwards;
}
@keyframes showBackdrop {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
// hide Backdrop
.backdrop.hide-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  animation: hideBackdrop 0.3s forwards;
}
@keyframes hideBackdrop {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0.2;
    visibility: hidden;
  }
}
// remove modal
.backdrop.remove-modal {
  display: none;
}

// authen
.authen {
  width: 483px;
  height: 80%;
  max-height: 693px;
  padding-top: 48px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
  z-index: 101;

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
// show Authen
.authen.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation: showAuthen 0.3s forwards;
}
@keyframes showAuthen {
  0% {
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
// hide Authen
.authen.hide-modal {
  display: flex;
  flex-direction: column;

  animation: hideAuthen 0.3s forwards;
}
@keyframes hideAuthen {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    // display: flex;
    opacity: 0.2;
    transform: scale(0.1);
  }
}
// remove Authen
.authen.remove-modal {
  display: none;
}

.authen--body {
  width: 100%;
  overflow-y: scroll;
  flex: 1;
}
.container {
  width: 375px;
  margin: 0 auto;
  padding: unset;
}
.title {
  margin: 16px auto;
  font-weight: bold;
  font-family: SofiaPro;
  font-size: 32px;
  color: rgb(22, 24, 35);
  text-align: center;
}

.authen--item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 44px;
  padding: 0px 12px;
  margin-bottom: 16px;
  font-weight: 600;
  color: rgb(22, 24, 35);
  border: 1px solid rgba(22, 24, 35, 0.12);
  word-break: keep-all;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  cursor: pointer;

  .icon {
    display: flex;
    font-size: 20px;
  }
  .discription {
    flex: 1;
    font-size: 15px;
    padding-top: 4px;
    text-align: center;
  }
}
.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.authen--policy {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 16px 30px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(22, 24, 35, 0.12);

  .text {
    width: 375px;
    line-height: 15px;
    font-size: 12px;
    color: rgba(22, 24, 35, 0.5);
    text-align: center;

    a {
      display: inline;
    }
  }
}
.authen--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  height: 64px;
  font-size: 15px;
  color: rgb(22, 24, 35);
  line-height: 18px;

  .sign--btn {
    margin-left: 5px;
    font-weight: 600;
    color: var(--primary);
    background-color: white;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
.authen--close {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 41px;
  height: 40px;
  font-size: 26px;
  border-radius: 50%;
  background-color: rgba(22, 24, 35, 0.03);
  z-index: 2;

  cursor: pointer;
}
