.wrapper {
  padding: 16px 0;
  position: relative;
  padding: 20px 0 24px 0;

  &::before {
    content: '';
    position: absolute;
    left: 8px;
    right: 0;
    top: 0;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
  }
}
.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  padding-left: 8px;
  margin-bottom: 8px;
  color: rgba(22, 24, 35, 0.5);
}
.login--btn {
  width: calc(100% - 8px);
  font-family: SofiaPro;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-left: 8px;
  margin-top: 20px;
  cursor: pointer;
}
