@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;500;0,500;600;1,300;1,400&display=swap');

:root {
  --primary: #fe2c55;
  --text-color: #161823;

  // Default Layout sizes:
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-padding: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// custom Tippy box styles
.tippy-box {
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background-color: rgba(84, 84, 84, 0.92);
  color: rgb(255, 255, 255);
  padding: 8px;
  .tippy-content {
    padding: 0;
  }
}
.tippy-arrow {
  color: rgba(84, 84, 84, 0.92);
}
