.wrapper {
  margin-right: 16px;
  position: relative;
}

.author--container {
  display: flex;
  flex-direction: row;

  position: relative;

  padding: 20px 0;
  max-width: 692px;
  border-bottom: 1px solid #ddd;
}
.author--avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  margin: 0px;
  padding: 0px;
  font-feature-settings: 'tnum';
  color: rgb(255, 255, 255);
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(22, 24, 35, 0.12);
  overflow: hidden;
  cursor: pointer;
}
.author--dash--boad {
  margin-left: 12px;
  width: 624px;
  flex: 1 1 624px;
}
.dash--boad--header {
  margin-right: 114px;
}
.header__name {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover .nickname {
    text-decoration: underline;
  }

  .nickname {
    font-family: SofiaPro;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;
  }
  .fullname {
    display: inline-block;

    font-weight: 400;
    font-size: 14px;
    padding-top: 7px;
  }
  .check {
    margin-left: 4px;
    color: #20d5ec;
  }
}
.follow--btn {
  position: absolute;
  right: 0;
  top: 28px;
}
.header__captions {
  font-size: 16px;
  line-height: 22px;
  .text {
    display: inline-block;
    font-weight: 400;
    margin-right: 4px;
  }
  .tag--person {
    font-weight: 600;
    margin-right: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
  .tag--common {
    margin-right: 4px;

    &:hover {
      text-decoration: underline;
    }
  }
}
.header__music {
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;

  .music--icon {
    margin-right: 5px;
  }
  .music--name {
    line-height: 21px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
}
.dash--boad--body {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

// custom videos
.video--container {
  position: relative;

  max-height: 480px;
  max-width: 269px;
  margin-right: 20px;
  box-sizing: border-box;
  outline: none;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  video {
    width: 100%;
    height: 100%;
  }
}

.video--controls {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transition: opacity linear 0.4s;
  }

  .report {
    display: flex;

    position: absolute;
    right: 16px;
    top: 24px;

    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    .report--icon {
      margin-right: 4px;
      margin-top: 4px;
    }
  }
  .play--pause {
    position: absolute;
    left: 22px;
    bottom: 36px;

    height: 24px;
    color: white;
  }
  .volume {
    position: absolute;
    bottom: 36px;
    right: 19px;

    display: flex;
    align-items: flex-end;

    height: 70px;
    color: white;

    &:hover .volume--progress {
      opacity: 1;
    }
    .volume--icon {
      height: 24px;
    }

    .volume--progress {
      width: 64px;
      height: 24px;
      padding: 0 8px;
      background-color: rgba(22, 24, 35, 0.34);
      border-radius: 32px;
      transform: rotate(270deg);
      opacity: 0;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;

      position: absolute;
      top: -5px;
      left: -22px;

      display: flex;
      align-items: center;
      justify-content: center;

      .volume--input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        border-radius: 100px;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;

        background-color: rgba(255, 255, 255, 0.34);
        background-image: linear-gradient(white, white);
        background-size: 50% 100%;
        background-repeat: no-repeat;

        &::-webkit-slider-runnable-track {
          background: transparent;
          height: 2px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 12px;
          height: 12px;
          margin-top: -4px;
          border-radius: 100%;
          border: none;
          background: white;
        }
      }
    }
  }
}

.option--list {
  display: flex;
  flex-direction: column;
}
.option--item {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;

  .option--item__icon__background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 0px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.06);

    cursor: pointer;
  }
  .option--item__icon.activeC {
    animation: activeColor 0.3s ease-in-out 0.3s forwards;
  }
  .option--item__icon__background.activeBC {
    animation: activeBackground 0.3s ease-in-out backwards;
  }

  .option--item__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(22, 24, 35, 1);
    line-height: 17px;
    text-align: center;
  }
}
.option--item__count {
  color: rgba(22, 24, 35, 0.75);
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
@keyframes activeBackground {
  0% {
    background-color: rgba(22, 24, 35, 0.06);
  }
  100% {
    background-color: rgba(22, 24, 35, 0.14);
  }
}
@keyframes activeColor {
  100% {
    color: rgb(254, 44, 85);
  }
}
