.wrapper {
  --search-border-radius: 92px;
  --search-width: 362px;
  --search-height: 46px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
  height: var(--default-layout-header-height);
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// left
.logo {
  width: 118px;
  height: 42px;
}

// mid: CSS đã chuyển đến SearchInput component

// right
.header-right {
  min-width: 274px;
  display: flex;
  align-items: center;
}
// log-out mode
.menu-icon {
  font-size: 2.4rem;
  width: 28px;
  padding: 4px;
  margin-left: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

// log-in mode:
.user-current {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-message,
.user-inbox {
  height: 32px;
  width: 32px;
  font-size: 24px;
  margin-left: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    content: attr(count);
    width: 20px;
    height: 18px;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 15px;
    position: absolute;
    top: -2px;
    right: -6px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.user-avatar {
  height: 32px;
  margin-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  .avatar {
    border-radius: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
