.wrapper {
  --search-border-radius: 92px;
  --search-width: 362px;
  --search-height: 46px;
  --search-button-width: 52px;

  height: var(--default-layout-header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
  height: var(--default-layout-header-height);
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// left
.logo {
  width: 118px;
  height: 42px;
}
// mid
.search {
  width: var(--search-width);
  height: var(--search-height);
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--search-border-radius);
  outline: none;
  background-color: rgba(241, 241, 242, 1);
  box-sizing: border-box;
  position: relative;
  &:focus-within {
    border: 0.5px solid rgba(22, 24, 35, 0.2);
  }
  input {
    background-color: transparent;
    color: rgb(22, 24, 35);
    caret-color: var(--primary);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 22px;
    flex: 1;
  }
  span {
    width: 1px;
    height: 28px;
    margin: 0;
    background-color: rgba(22, 24, 35, 0.12);
  }
}
.search-result {
  width: var(--search-width);
}
.search-close,
.search-loadding {
  position: absolute;
  top: 50%;
  right: calc(var(--search-button-width) + 16px);
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.3);
}
.search-icon {
  width: var(--search-button-width);
  height: var(--search-height);
  margin-right: -16px;
  padding: 12px 16px;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  background-color: transparent;
  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
}

// right
.header-right {
  min-width: 274px;
  display: flex;
  align-items: center;
}
// log-out mode
.menu-icon {
  font-size: 2.4rem;
  width: 28px;
  padding: 4px;
  margin-left: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

// log-in mode:
.user-current {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-message,
.user-inbox {
  height: 32px;
  width: 32px;
  font-size: 24px;
  margin-left: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar {
  height: 32px;
  margin-left: 24px;
  box-sizing: border-box;
  cursor: pointer;
  .avatar {
    border-radius: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
